.border{
    border: 2px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px;
}
img{
    width: 200px;
}
.cc{
    width: 30&;
}
.horizon{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.rata{
    text-align: center;
}
.tampung{
    width: 1000px;
    margin: auto;
}