.border{
    border: 2px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px;
}
body{
    background-image: linear-gradient(to bottom, mistyrose, powderblue, papayawhip);
}
img{
    width: 200px;
}
.cc{
    width: 30%;
    padding: 5%;
    box-sizing: border-box;
}
.horizon{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.rata{
    text-align: center;
}
.tampung{
    width: 1000px;
    margin: auto;
}
.warna{
    background-image: linear-gradient(to right, aquamarine, oldlace);
    color: blue;
}
.tampilan{
    display: inline-block;
    padding: 3%;
}
li:hover{
    background-image: linear-gradient(to left, seashell, silver);
}
p::first-letter{
    color: sienna;
    font-size: xx-large;
}
.cc:target{
    background-image: linear-gradient(to top, moccasin, linen);
}
h2:hover{
    background-color: grey;
}
@media only screen and (max-width:500px){
    *{
        margin: 0px;
        padding: 0px;
    }
    .screen{
        width: 80%;
    }
    .respon{
        display: flex;
        flex-direction: column;
    }
    .lebar{
        width: 100%;
    }
}